<!doctype html>
<html>
<head>
  <title>MongoDB Sessions</title>
</head>
  <body>
    <h1>MongoDB Sessions</h1>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js'></script>
  </body>
</html>
